
.container {
  width: 40vw;
  margin: 5vh auto;
}

.content {
  padding: 0 !important;
}

.weather-col {
  padding: 0 !important;
}

.card {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
}

.layer {
  background-color: rgba(255, 255, 255, 0.25);
  position: absolute;
  width: 100%;
  height: 100%;
}

.card .card-content {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.search-wrapper input {
  border-bottom: 1px solid white !important;
}

.search-wrapper i {
  color: white

}

::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

.row .col .s8 {
  padding-right: 0;
}

.temp, .degrees {
  font-family: 'Lato',
  sans-serif;
  font-size: 100pt;
}

.temp {
  text-align: right;
}

.search-form {
  margin-bottom: 0;
  color:white;
  position: relative;
}

input[type=text]:not(.browser-default),input[type=text]:not(.browser-default):focus:not([readonly])+label,.input-field>label{
  color: white;
}

.search-btn {
  background: transparent;
  box-shadow: none;
  position: absolute;
  top: 1.75vh;
  right: 1vw;
  cursor: pointer;
}

.search-btn i {
  font-size: 20pt;
}

.search-btn:hover, .search-btn:focus{
  box-shadow: none;
  background:transparent;
}

.metrics {
  /* border: 0; */
  margin-bottom: 10px;
  text-align: right;
}

.metrics .btn, .metrics.btn.disabled {
  margin: 0;
  color: white;
  background-color: transparent !important;
 -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
 box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);

}

.metrics .celsius {
  border-right: 2px solid #ffff;
}